#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(187, 230, 228);
  font-style: italic;
}

.container {
  border-radius: 10%;
}

.card-conatiner {
  border-radius: 5%;
}

.card-title {
  font-size: medium;
}

.header {
  background-color: rgb(8, 75, 131);
  color: 42BFDD;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.navbar > li {
  border: solid  black;
  display: flex;
  padding: 10px;
  border-radius: 10%;
  background-color: rgb(187, 230, 228);
}

h1 {
  padding-top: 2%;
  text-decoration-line: unset;
}

p {
  font-size: 24px;
}